 body {
 font-family: arial, verdana, sans-serif;
 color: #665544;
 padding: 10px;} 
.page {
 border: 1px solid #665544;
 background-color: #efefef; 
padding: 15px;} 

body{

    
    padding: 10px;

}

.page2{

font-family: arial , verdana , sans-serif;

border: 2px solid #665544; color: #665544;padding: 10px;
background-color: #efefef; font-weight: bold; 
text-transform: capitalize;
word-spacing: 20px;






}






























































